#footer1{
    width: 85%;
    height: auto;
    display: flex;
    margin: 50px auto;
    gap:30px;
    font-family: Source Sans Pro,sans-serif;
}

#footer1 > div{
    width: 20%;
    height: 100%;
}

#footer1 > div > p{
    color: #5c6369;
    font-size:15px;
}
#footer2{
    width: 100%;
    background-color: #ebecec;
    height:auto;
}
.desktime-footer{
    font-size: 30px;
    color: #333c43;
    display: flex;
    font-weight: bold;
    font-family: Source Sans Pro,sans-serif;
}
#footer-child{
    width: 85%;
    margin: auto;
}

#container-1{
    display: flex;
    padding-top: 20px;
}

#container-1 > div:nth-child(2){
    display: flex;
}

.app-icons {
    display: flex;
    align-items: center;
    text-align: end;
}

.android {
    width: 150px;
}

#container-2{
    display: flex;
}

#container-1 > div:nth-child(1){
    width: 80%;
}


#container-2>div:nth-child(1){
    width: 40%;
}
#container-2>div:nth-child(2){
    display: flex;
    width: 60%;
    gap:10px
}

#container-2>div:nth-child(1)>i{
    color: #70777b;
    margin-right: 10px;
}

#container-2>div:nth-child(2)>h4{
    width: 50%;
    text-align: right;
    font-weight: normal;
    font-family: Source Sans Pro,sans-serif;
    color: grey;
    
}

#container-2>div:nth-child(2)>form{
    display: flex;
    gap: 10px;
}

#footer_email{
    width: 75%;
    height: 40px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
    font-size: medium;
    padding: 15px;
}

#footer-button{
    height: 40px;
    margin-right: 10px;
    width: 40%;
    background-color: #4ea819;
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
}   
