#form-section{
    background-color: #4ea819;
    height: 320px;
    width: 100%;
    font-family: Source Sans Pro,sans-serif;
}

#form-div>h1{
    color: white;
    width: 55%;
    text-align: center;
    margin: auto;
    padding: 50px 0 25px 0;
    font-weight: 700;
}

#form_email{
    width: 50%;
    height: 45px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
    font-size: medium;
}
#form-div>form{
    display: flex;
    gap:10px;
    width: 40%;
    margin: auto auto 20px auto;
}

#form-div>form>button{
    height: 45px;
    margin-right: 10px;
    width: 40%;
    background-color: #4ea819;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    margin-top: 6px;
    font-size: 17px;
    font-weight: bold;
}
#form-div>form>button:hover{
    background-color: white;
    color:#5e505b;
}

.form-terms{
    font-family: Source Sans Pro,sans-serif;
    font-size: 15px;
    margin: auto;
    line-height: 25px;
    text-align: center;
    color: white;
}

.anchor-tag{
    margin: 0 0;
    color: white;
    font-weight: bold;
}

