#header{
    position:relative;
    width:100%; height:730px;
    overflow:hidden;
    margin:10px auto;
    text-align:center;
}

#header:before{
    background-image: linear-gradient(white, #eaebeb);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    width: 120%;
    overflow: hidden;
    top:0; left:-10%; bottom:4px;
    content:'';
    z-index: -1;
}

#header>#content{
    width: 85%;
    height: 320px;
    margin: 150px auto 40px auto;
    display: flex;
}

#content>div:nth-child(1){
    margin-right: 25px;
    width: 50%;
    font-family: Source Sans Pro, sans-serif;
    text-align: left;
}

#content>div:nth-child(2){
    margin-left: 25px;
    width: 50%;
}
#logos{
    width: 85%;
    margin: 0px auto;
    height: 100px;
    display: flex;
    justify-content:space-between;
}

#content>div:nth-child(1)>h1{
    color: #333c43;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.625rem;
    line-height: 3.375rem;
    font-weight: bold;
    
}
h1+p{
    font-family: Source Sans Pro,sans-serif;
    color: #5e505b;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#t_email{
  width: 55%;
  height: 45px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 15px;
  resize: vertical;
  font-size: medium;
  padding: 15px;
}
#form-container>form{
    display: flex;
    gap:10px;
}

#form-container>form>button{
    height: 45px;
    margin-right: 10px;
    width: 40%;
    background-color: #4ea819;
    border-radius: 4px;
    border: none;
    color: white;
    margin-top: 6px;
    font-size: 18px;
    font-weight: bold;
}
.bottom{
    font-family: Source Sans Pro,sans-serif;
    color: #5e505b;
    font-size: 15px;
    margin: 0px;
    line-height: 25px;
}
.atnc{
    margin: 0 0;
    color: #475056;
    font-weight: bold;
}
