body{
    margin: 0;
    font-family: Source Sans Pro,sans-serif;
}
#navbar{
    border-top: 4px solid #4ea819;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    color: black;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
}

a {
    color: #7a8084;
    background-color: transparent;
    text-decoration: none;
    margin: 0px 20px;
}  

a:hover {
    background-color: transparent;
    text-decoration: none;
    border-bottom:3px solid #4ea819;
}

.navbtn1 {
    height: 40px;
    width: 80px;
    margin-right: 10px;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 4px;
    font-weight: bold;
    
}

.navbtn2 {
    height: 40px;
    width: 100px;
    margin-right: 10px;
    background-color: #4ea819;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: bold;
}
.desktime{
    font-size: 27px;
    color: #333c43;
    display: flex;
}

.burger {
    display: none;
}

.burger>i:nth-child(2) {
    display: none;
}


.logout {
    display: none;
}

#items {
    margin-left: auto;
    padding-right: 100px;
    display: flex;
    align-items: center;
}

#items>i {
    margin-top: 10px;
}

.brand {
    padding-left: 100px;
    display: flex;
}

/* media query */

@media (max-width: 1200px) {
    #navbar {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .desktime{
        width: 100%;
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    .burger{
        display: block;
        margin: 10px auto 0px 50px;
    }

    .logout {
        display: block;
        margin: 10px 50px 0px auto;
    }

    .brand {
        width:100%;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    #items{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #items>a {
        padding: 20px 0px;
        border-bottom: 1px solid #EBECEC;
        width: 100%;
    }
    
    .login-signup {
        margin: 20px 0px;
    }

    .login-signup>button {
        width: 350px;
    }
}