#presentation {
    padding: 50px;
    color: #333c43;
    background-image: linear-gradient(#ebecec, white);
}

.presentation-title>h2 {
    text-align: center; 
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    color: #333c43;
}

.presentation-title>p {
    text-align: center;
    margin: auto;
    width: 60%;
    margin-bottom: 40px;
    color: #405756;
    font-size: 14px;
    line-height: 22px;
}

.presentation-pointers {
    width: 50%;
}

.presentation-subfield {
    display: flex;
    margin-bottom: 30px;
}

.subdescption-text{
    display: inline-block;
}

.presentation-subtitle {
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}

.presentation-description {
    display: flex;
    gap: 40px;
}

.presentation-pointer-description {
    font-size: 14px;
    color: #475056;
    line-height: 22px;
}

#presentation > div{
    width: 80%;
    margin: auto;
}

.presentation-graphs>img{
    margin-top: 100px;
}

.feature-btns>button {
    height: 30px;
    border: none;
    font-weight: 600;
    background-color: #ebecec;
    border-radius: 3px;
}

.feature-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}