#signup{
  margin: 150px auto 0 auto;
  font-family: Source Sans Pro,sans-serif;
  width: 80%;
}

#signup>div>h4{
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}
p{
  text-align: center;
  color: #333c43;
}

#signup>form {
    margin: 0 auto;
    margin-top: 30px;
    width: 30%;
    padding: 30px;
  }
  
.label-input{
  color: #70777b;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

input[type="text"], input[type="email"],input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 15px;
  font-weight: 400;
}

#signup>form > .button{
    margin-bottom: 30px;
}

button[type="submit"] {
  background-color: #e8eaed;
  color: grey;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  height: 40px;
  margin-right: 10px;
  background-color: #4ea819;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: bold;
}

#signup>button[type="submit"]:hover {
  background-color: #3973b6;
}
.atnc{
  margin: 0 0;
  color: #475056;
  font-weight: bold;
}

form + div{
  width: 35%;
  margin: auto;
  border: 1px solid rgb(224, 215, 215);
  padding: 20px;
}

#social{
  width: 100%;
  display: flex;
  margin: auto;
}

#social>button{
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 3px;
  margin: auto;
}

#social>button:nth-child(1){
  background-color: #1877f2;
}

#social>button:nth-child(2){
  background-color: #1da1f2;
}

#social>button:nth-child(3){
  background-color: #0a66c2;
}

#social>button:nth-child(4){
  background-color: #f5f5f6;
  border: 1px solid grey;
}

#social>button:nth-child(5){
  background-color: black;
}