#tools {
    background-color: #f5f5f6;
    padding: 60px;
}

#tools>div {
    display: flex;
    align-items: center;
    width: 80%;
    margin:auto;
    gap: 40px;
}

#tools-btn-rm {
    width: 160px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
}